@use '../../../shared';

.TabList {
    // position: absolute;
    // top: 20vh;
    // left: 25vw;
    // z-index: 20;
    // width: 50vw;

    width: 70vw;
    margin: 0 auto;
    margin-top: 1rem;
    border: 1px solid #ddd;
    
    padding: 2rem;


    // background-color: #fcfcfc;
    // box-shadow: 0 0 1rem #ccc;

    // height: max-content;

    &__header {
        @extend %shared-heading;
        justify-content: space-between;
        display: flex;
        height: 2rem;
    }

    &__tabs {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        padding: 0.2rem;
    }

    &__close {
        @extend %shared-button;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    &__button {
        @extend %shared-button;
    }

    &__expand {
        @extend %shared-button;
        width: max-content;
    }

    &__info {
        display: flex;
        padding-top: 0.3rem;
        margin: 0;
        text-align: right;
        font-size: 0.75rem;
        margin-left: auto;
        justify-self: right;
    }
}