.StashTabItem {
    display: inline-flex;
    align-items: center;
    padding: 0.4rem 0.4rem;
    margin: 0.2rem;
    
    // border: 2px solid #ccc;
    // box-shadow: 0.3rem 0.3rem 0 -0.1rem #eee;
    // border-radius: 2px;

    img {
        background-color: #f0f0f0;
        // box-shadow: 0 0 0.2rem #222;
        border-radius: 20%;
        padding: 0.18rem;
    }

    span {
        display: inline-flex;
        
        &:nth-of-type(1) {
            width: 3rem;
        }

        &:nth-of-type(2) {
            width: 5rem;
            justify-content: flex-end;
        }
    }

    &__icon {
        position: relative;
        width: 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        &--image {
            max-width: 60px;
            max-height: 60px;
            width: auto;
            height: auto;
            overflow: hidden;
            object-fit: cover;
            // position: absolute;
            
        }

        &--count, &--value {
            position: absolute;
            display: inline-block;
            color: black;
            background-color: #f0f0f0;
            font-size: 0.75rem;
            padding: 0 0.2rem;
            user-select: none;

        }

        &--count {
            bottom: -7.5px;
            right: -10px;
            padding: 0.1rem 0.25rem;
            box-shadow: 0 0 0.2rem #aaa;
            font-size: 0.7rem;
            max-width: max-content;
        }

        &--value {
            display: inline-block;
            justify-content: center;
            max-width: 3.5rem;
            top: -10px;
            // left: -10px;
            box-shadow: 0 0 0.2rem #aaa;
        }
    }
}