@use '../../../shared';

.StashTabContent {
    // padding: 1rem;

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__toggle {
        @extend %shared-button
    }

    &__items {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}