@use '../../../shared';

.AccountInfo {
    display: flex;

    flex-direction: column;
    flex-wrap: wrap;

    @extend %shared-section-temp;

    &__description {
        @extend %shared-section_info;
    }

    &__form {
        width: 20rem;

        &--field {
            display: block;
            margin-bottom: 0.3rem;
        }

        &--label {
            display: inline-block;

            width: 7rem;
            font-size: 0.9rem;
            font-weight: 500;
            margin-right: 0.5rem;
        }

        &--input {
            @extend %shared-input;
            width: 10rem;
            
        }

        &--submit {
            @extend %shared-button;
            display: block;
            margin: 0 auto;
            margin-left: 7.5rem;
        }
    }
}