@use '../../../shared';

.AccountInfo {
    display: flex;
    flex-wrap: wrap;

    min-width: 20rem;
    align-self: start;

    padding: 1rem;
    border: 1px solid #ddd;
    max-width: 70vw;
    margin: 0 auto;
    margin-top: 1rem;

    &__form {
        &--field {
            display: block;
            margin-bottom: 0.3rem;
        }

        &--label {
            display: inline-block;

            width: 7rem;
            font-size: 0.9rem;
            font-weight: 500;
            margin-right: 0.5rem;
        }

        &--input {
            @extend %shared-input;
            width: 10rem;
            
        }

        &--submit {
            @extend %shared-button;
            display: block;
            margin: 0 auto;
        }
    }
}