@use '../../../shared';

.AccountInfo {
    display: flex;
    flex-wrap: wrap;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    @extend %shared-section;
    
    &__form {
        &--field {
            display: block;
            margin-bottom: 0.3rem;
        }

        &--label {
            display: inline-block;

            width: 7rem;
            font-size: 0.9rem;
            font-weight: 500;
            text-align: right;
            margin-right: 0.5rem;
        }

        &--input {
            width: 10rem;
        }

        &--submit {
            display: block;
            margin: 0 auto;
        }
    }
}