@use '../../../shared';

.StashOverview {
    @extend %shared-section;

    @media screen and (min-width: 768px) {
        width: 50rem;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 0.6rem;
        border-bottom: 1px solid #ccc;
        height: 2rem;

    }

    &__tabs {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        padding: 1rem;
    }

    &__button {
        margin-left: 0.2rem;
        outline: none;
        border: none;
        padding: 0.4rem;
        border: 1px solid #aaa;
        background-color: #eee;

        transition: all 200ms ease;

        &:hover {
            box-shadow: 0 0 0.3rem #ccc;
        }
    }
}