@use '../../../shared';

.StashOverview {
    // @extend %shared-section;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 0.6rem;
        border-bottom: 1px solid #ccc;
        height: 2rem;
    }

    &__tabs {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        padding: 0.2rem;

        max-height: 7rem;
        overflow-y: scroll
    }

    &__button {
        @extend %shared-button;
    }

    &__expand {
        @extend %shared-button;
        width: max-content;
    }

    &__info {
        display: flex;
        padding-top: 0.3rem;
        margin: 0;
        text-align: right;
        font-size: 0.75rem;
        margin-left: auto;
        justify-self: right;
    }
}