@use '../../../shared';

.StashOverview {
    @extend %shared-section;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 0.6rem;
        border-bottom: 1px solid #ccc;
        height: 2rem;
    }

    &__tabs {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        padding: 1rem;
    }

    &__button {
        @extend %shared-button;
    }
}