@use '../../../shared';

.TrackedTabs {
    // @extend %shared-section;

    &__header {
        @extend %shared-heading;
        display: flex;
        justify-content: space-between;
        padding-bottom: 0.6rem;
        align-items: center
    }

    &__button {
        @extend %shared-button;
    }

    &__fetching {
        @extend %shared-fetching
    }
}