@use '../../../shared';

.TrackedTabs {
    // @extend %shared-section;

    @extend %shared-section-temp;

    &__header {
        @extend %shared-heading;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 0.6rem;
        align-items: center

        &--title {
            width: max-content;
        }
    }

    &__description {
        @extend %shared-section_info;
    }

    &__button {
        @extend %shared-button;

        &--on {
            margin-right: 0.5rem;
            border-color: seagreen;
            animation: pulse 6500ms ease infinite;
            animation-fill-mode: forwards;
            outline: 2px solid transparent;
        }
    }

    &__fetching {
        @extend %shared-fetching
    }
}

@keyframes pulse {
    25% {
        outline-color: transparent;
    }

    50% {
        outline-color: seagreen;
    }

    75% {
        outline-color: transparent;
    }
}