%shared-section {
    @media screen and (min-width: 768px) {
        max-width: 90%;
        
        border: 2px solid #eee;
        border-radius: 4px;
        box-shadow: 0 0 0.3rem #ccc;

        margin: 0 auto;
        margin-bottom: 1rem;
        padding: 1rem;
    }

    @media screen and (min-width: 1080px) {
        max-width: 70%;
        gap: 1rem;
    }

}

%shared-section_info {
    margin: 1rem 0;
    padding: 0.5rem;
    padding-left: 1rem;
    background-color: #fcfcfc;
    font-size: 0.83rem;
    border-radius: 3px;
    border: 2px solid #ccc;
    box-shadow: 0.4rem 0.4rem 0 -0.3rem #ccc;
}

%shared-button {
    $button-color: #ccc;
    $button-color-secondary: #444;

    outline: none;
    border: none;
    padding: 0.4rem;
    border: 1px solid $button-color;
    background-color: #fdfdfd;
    color: $button-color-secondary;
    font-weight: 400;
    font-size: 0.8rem;

    transition: all 50ms ease-in;

    &:hover {
        box-shadow: 0 0 0.3rem 0 $button-color-secondary;
        box-shadow: 0 0.4rem 0 -0.3rem $button-color-secondary;
        // transform: translateY(-1px);
    }
}

%shared-fetching {
    font-size: 0.8rem;
    border-radius: 3px;
    background-color: #eee;
    padding: 0.4rem 1rem;
}

%shared-heading {
    font-weight: 500;
    // border-bottom: 1px solid #ddd;
    padding-bottom: 0.3rem;
    margin-bottom: 0.3rem;
}

%shared-input {
    padding: 0.3rem;
    border: 1px solid #ccc;
    border-radius: 0;    
    outline: none;
}

%shared-section-temp {
    margin: 0 auto;
    margin-top: 1rem;
    max-width: 65vw;
    padding: 2rem;

    border: 1px solid #ddd;

    @media screen and (min-width: 1080px) {
        max-width: 70vw;
    }
    
    @media screen and (min-width: 1280px) {
        max-width: 50vw;
    }


    @media screen and (max-width: 1080px) {
        max-width: 100vw;
    }
}